@model RestApp.Web.Models.Banks.BankModel
@Html.HiddenFor(model => model.Id)
<div class="control-group">
    @Html.LabelFor(model => model.Code, new { @class = "control-labelObligatory" })
    <div class="controls">
        @Html.TextBox("Code", Model.Code == 0 ? "" : Model.Code.ToString(), new { @class="input-mini", maxlength= 4 })
        @Html.ValidationMessageFor(model => model.Code, null, new { @class = "text-error" })
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.Name, new { @class = "control-labelObligatory" })
    <div class="controls">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-error" })
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.Account, new { @class = "control-labelObligatory" })
    <div class="controls">
        @Html.EditorFor(model => model.Account)
        @Html.ValidationMessageFor(model => model.Account, null, new { @class = "text-error" })
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.Enabled, new { @class = "control-label" })
    <div class="controls">
        @Html.EditorFor(model => model.Enabled)
        @Html.ValidationMessageFor(model => model.Enabled, null, new { @class = "text-error" })
    </div>
</div>
<div class="controls">
    <div>
        <input type="submit" class="btn btn-primary" value="@T("View.Common.Save")" />
    </div>
</div>
<p>
    <small style="color: Highlight">@T("View.Common.ObligatoryProperty").Text</small>
</p>