@{
    Layout = null;
    var currentUser = this.WorkContext.CurrentUser;
}
<div class="header">
    <div class="logo animated fadeIn">
        <img src="../../Content/images/Logo.png" />
        <span class="title">@ViewBag.Title</span>
    </div>
    <div class="links">
        <a href="@Url.Action("LogOff", "User")" class="btn btn-mini btn-primary">@T("View.Shared.HeaderPartial.LogOff").Text</a>
        <a href="@Url.Action("MyProfile", "User", new { returnUrl = HttpContext.Current.Request.RawUrl })" class="btn btn-mini btn-info">@T("View.Shared.HeaderPartial.MyProfile").Text</a>
        @*<a href="@Url.Action("ClearCache", "Common")" class="btn btn-mini">@T("View.Shared.HeaderPartial.ClearCache").Text</a>*@
    </div>
    <div class="login-info">
        @T("View.Shared.HeaderPartial.LoggedInAs") <b><u>@currentUser.LoginName</u></b>
        
    </div>
</div>
