@model RestApp.Models.Roles.RoleModel
@{
    ViewBag.Title = T("View.Role.Create").Text;
}
<div>
    <a href="@Url.Action("Index")" class="btn btn-inverse btn-mini"><i class="icon-arrow-left icon-white">
    </i>@T("View.Common.BackToList").Text</a>
</div>
@using (Html.BeginForm("Create", "Role", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    <div class="well">
        <legend>@T("View.Role.Create.New")</legend>
        @Html.Partial("_CreateOrEditRole", Model)
    </div>       
}
<div>
    <a href="@Url.Action("Index")" class="btn btn-inverse btn-mini"><i class="icon-arrow-left icon-white">
    </i>@T("View.Common.BackToList").Text</a>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
