@model RestApp.Models.Roles.RoleModel

@{
    ViewBag.Title = T("View.PermissionRecordsAssignedTo.List").Text + " " + Model.Name;
    int count;
}

<div>
@Html.Label(@T("PermissionRecords").Text, new { @class = "control-label" })
@foreach (var category in Model.PermissionRecordsCategory)
{
    count = 0;
    <div class="controls">
        <table class="table table-condensed">
            <tbody>
                <legend>@T("PermissionRecords." + category.Category)</legend>
                @foreach (var permission in category.PermissionRecords)
                {
                    <td>
                        <label class="checkbox">
                            <input type="checkbox" name="Permissions" value="@permission.Id" @(permission.Checked ? "checked=\"checked\"" : "")/>@T("PermissionRecords." + category.Category + "." + permission.Name)
                        </label>
                    </td>
                    if(++count % 3 == 0)
                    {
                        @:</tr><tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
</div>

